<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhkj.wallet">

    <application>
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.RechargeActivity" />
        <activity android:name=".activity.WithdrawalActivity" />
        <activity android:name=".activity.PayCodeActivity" />
        <activity android:name=".activity.RecordActivity" />
    </application>
</manifest>