<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhkj.smartpolice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许应用程序完全使用网络 -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 写存储卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读存储卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许装载和卸载文件系统权限 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ZyTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:theme"
        tools:targetApi="m">

        <activity android:name=".login.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.MainActivity" />

        <!--登录模块-->
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".login.activity.ModifyPasswordActivity" />

        <!--商家模块-->
        <activity android:name=".merchant.MerchantListActivity" />

        <!--个人中心-->
        <activity android:name=".mine.activity.RepairRecordActivity" />
        <activity android:name=".mine.activity.ReserveRecordActivity" />
        <activity android:name=".mine.activity.PersonalInfoActivity" />
        <activity android:name=".mine.activity.SettingActivity" />

        <!--餐厅模块-->
        <activity android:name=".meal.MealChoiceActivity" />
        <activity android:name=".meal.MealActivity" />
        <activity android:name=".meal.MealDetailActivity" />
        <activity android:name=".meal.MealOrderActivity" />
        <activity android:name=".meal.MealOrderInfoActivity" />
        <activity android:name=".meal.MealRecordActivity" />
        <activity android:name=".meal.OrderDetailActivity" />

        <!--药店模块-->
        <activity android:name=".drugstore.DrugstoreActivity" />
        <activity android:name=".drugstore.SearchDrugActivity" />
        <activity android:name=".drugstore.FeedbackActivity" />

        <!--理发店模块-->
        <activity android:name=".haircut.BarberListActivity" />
        <activity android:name=".haircut.HaircutOrderDetailActivity" />
        <activity android:name=".haircut.HaircutOrderTimeActivity" />
        <activity android:name=".haircut.LeaderReserveActivity" />

        <!--维修模块-->
        <activity
            android:name=".maintain.activity.MaintainApplyActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".maintain.activity.PoliceMaintainActivity" />
        <activity android:name=".maintain.activity.ApplyMaintainListActivity" />
        <activity android:name=".maintain.activity.AuditInfoActivity" />
        <activity android:name=".maintain.activity.PublishTaskActivity" />
        <activity android:name=".maintain.activity.MaintainContentActivity" />
        <activity android:name=".maintain.activity.PropertyManageActivity" />
        <activity android:name=".maintain.activity.MaintainTaskActivity" />
        <activity
            android:name=".maintain.activity.MaintainTaskInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".maintain.activity.AdministratorActivity" />

        <!--运动场-->
        <activity
            android:name=".stadium.StadiumDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhkj.smartpolice.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--洗衣店-->
        <activity android:name=".laundry.activity.LaundryApplyActivity" />

        <activity android:name=".notice.ConsumeRecordActivity" />

        <service android:name=".notice.NoticeService" />
    </application>

</manifest>