<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhkj.smartpolice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许应用程序完全使用网络 -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 写存储卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读存储卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 允许装载和卸载文件系统权限 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 指纹权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!--华为角标-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ZyTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:theme"
        tools:targetApi="m">

        <activity android:name=".login.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".app.MainActivity" />

        <!--登录模块-->
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".login.activity.ForgetPasswordActivity" />
        <activity android:name=".login.activity.VerifyPhoneActivity" />

        <!--商家模块-->
        <activity android:name=".merchant.MerchantListActivity" />

        <!--个人中心-->
        <activity android:name=".mine.activity.RepairRecordActivity" />
        <activity android:name=".mine.activity.ReserveRecordActivity" />
        <activity android:name=".mine.activity.PersonalInfoActivity" />
        <activity android:name=".mine.activity.SettingActivity" />
        <activity android:name=".mine.activity.ModifyPasswordActivity" />
        <activity android:name=".mine.activity.ConsumeRecordActivity" />
        <activity android:name=".notice.NoticeActivity" />
        <activity android:name=".notice.NoticeDetailActivity" />

        <!--餐厅模块-->
        <activity android:name=".meal.activity.MealDetailActivity" />
        <activity android:name=".meal.activity.MealOrderActivity" />
        <activity android:name=".meal.activity.MealOrderInfoActivity" />
        <activity android:name=".meal.activity.MealRecordActivity" />
        <activity android:name=".meal.activity.OrderDetailActivity" />
        <activity android:name=".meal.DiningRoomActivity" />

        <!--药店模块-->
        <activity android:name=".drugstore.DrugstoreActivity" />
        <activity android:name=".drugstore.activity.SearchDrugActivity" />
        <activity android:name=".drugstore.activity.FeedbackActivity" />
        <activity android:name=".drugstore.activity.DrugDetailActivity" />

        <!--理发店模块-->
        <activity android:name=".haircut.BarberListActivity" />
        <activity android:name=".haircut.HaircutOrderDetailActivity" />
        <activity android:name=".haircut.HaircutOrderTimeActivity" />
        <activity android:name=".haircut.LeaderReserveActivity" />
        <activity android:name=".haircut.activity.AgencyHaircutSelectActivity" />

        <!--维修模块-->
        <activity
            android:name=".maintain.activity.MaintainApplyActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".maintain.activity.PoliceMaintainActivity" />
        <activity android:name=".maintain.activity.ApplyMaintainListActivity" />
        <activity android:name=".maintain.activity.AuditInfoActivity" />
        <activity android:name=".maintain.activity.PublishTaskActivity" />
        <activity android:name=".maintain.activity.MaintainContentActivity" />
        <activity android:name=".maintain.activity.PropertyManageActivity" />
        <activity android:name=".maintain.activity.MaintainTaskActivity" />
        <activity
            android:name=".maintain.activity.MaintainTaskInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".maintain.activity.AdministratorActivity" />

        <!--运动场-->
        <activity
            android:name=".stadium.StadiumDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".stadium.StadiumActivity" />


        <!--洗衣店-->
        <activity android:name=".laundry.activity.LaundryApplyActivity" />

        <service android:name=".notice.NoticeService" />

        <!--班车-->
        <activity android:name=".shuttle.ShuttleBusActivity" />

        <!--理疗-->
        <activity android:name=".physiotherapy.PhysiotherapyActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhkj.smartpolice.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- ========================= 友盟推送 ========================= -->

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="false"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>

        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />

        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="false"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="false"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="false"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="${applicationId}.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>


    </application>

</manifest>